.butt{
   
    width:100%;
    background-color: rgb(179, 134, 96);
    color:rgb(4, 4, 3);
    padding: 20px 14px;
    margin:8px 0;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.nam{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    
}
h1{
    margin-left: 200px;
    font-family: cursive;
}
.na{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
   
    
}

.dele{
    
    background-color: bisque;
    padding: 200px 150px;
}
